@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}

*{margin: 0;padding: 0; border:0}

body{
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    color: #816d6a;
}

header {
    width: 960px;
    margin: 0 auto;
}

header #menu {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    gap: 20px;
    padding: 20px;
    text-align: left;
}

#menu a{
    padding: 10px;
    width: 90px;
    text-decoration: none;
    color: #111111;
    filter: brightness(5);
}

#wreaper {
    background-color: #FBDFDB;
    border-radius: 30px;
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#wreaper #slide {
    width: 441px;
    margin: 90px auto;
}

#wreaper #slide h1{
    padding: 20px 20px 20px 0;
    font-size: 30px;
    line-height: 40px;
}

#wreaper #slide p{
    opacity: 0.7;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    width: 330px;
}

#wreaper #img_slide img {
    padding: 20px;
}

section{
    width: 960px;
    margin: 0 auto 20px; 
}

section h2{
    font-size: 24px;
    padding: 20px 20px 10px 0;
    line-height: 34px;
}

section #recipe_list{
    margin: 0 auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe__card{
    cursor: pointer;
}

.recipe__card .card__image-container img{
    border-radius: 20px;
    width: 300px;
    border: 3px solid #816d6a;
}

.recipe__card .card__image-container img:hover{
    border: 3px solid rgb(149, 57, 48);
    transition: all 0.2s ease 0s;
    margin: -2px;
}



.recipe__card .card__content p{
    font-size: 18px;
    line-height: 28px;
    color: #111111;   
}
.recipe__card  .card_info{
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

/* === Sobre === */

.wreaper h1,
.wreaper h2{
    text-align: left;
    font-size: 24px;
    display: block;
    padding: 20px 20px 20px 0 ;
} 

.wreaper p{
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    padding-bottom: 10px;
    text-indent: 3ch;
}

/*=== Footer === */
footer {
    background-color:#e2c0ba;
    border-top: 2px solid rgb(129, 109, 106, 0.2);
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0vh;
}
footer p {
    width: 300px;
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
    padding: 13px;
}


/** === MODAL === */
.modal.active{
    opacity: 1;
    visibility: visible;
}
/* === MODAL === */

.modal_overlay{
    width:80%;
    height: 90%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.modal{
    background-color: rgba(0, 0, 0, 0.74);
    margin: 5vh auto;
    width: 60%;
    height: 50%;
    position: relative;
    border-radius: 20px;
    vertical-align: middle;
}

.modal .close_modal,
.modal .max_modal{
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modal .close_modal:hover,
.modal .max_modal:hover{
    color: red;
}

.modal .max_modal{
    right: 40px;
}

/* === MODAL active === */
.modal_overlay.active{
    opacity: 1;
    visibility: visible;
    transition: .3s ease-in-out;
}

.modal_overlay.maximized{
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}

/* ==== MAXIMIZED RECIPE ==== */
.modal_overlay .modal_content .card__image-container{
    width: 600px;
    height: 280px;
    margin: 0 auto;
    top: 70px;
    position: relative;
}

.modal_overlay .modal_content .card__image-container img{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.modal_overlay .modal_content .card__content,
.modal_overlay .modal_content .card__info{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    top: 80px;
    text-align: center;
    line-height: 26px;
    color: white;
}
.modal_overlay .modal_content .card__content p{
    font-size: 20px;
    color: whitesmoke;
    font-style: italic;
}


